<!DOCTYPE html>
<head>
  {% block head %}
    <title>Launch Store</title>
  {% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  {% include "parts/header.njk" %}

  {% block content %}{% endblock %}

  {% include "parts/footer.njk" %}
</body>
</html>